# Cache for LSP
.ccls-cache

# Build Directories
build
Debug

# Files for Articles
*.pdf

# Reports
# report

# Test Footage
test_video

# Deep Learning Configurations and Weights
dnn_files

# Python Cache Files
*/__pycache__

