# Cache for LSP
.ccls-cache

# Build Directories
build
Debug

# Files for Articles
*.pdf

# Reports
report
!report/final_report/main.tex

# Test Footage
test_video
test_image

# Deep Learning Configurations and Weights
dnn_files

# Python Cache Files
*/__pycache__

# External Libraries
# external/*

# CMake gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
